<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Descubre mis servicios fotográficos profesionales en Madrid: desde la elegancia de las bodas hasta retratos editoriales y cobertura de eventos sociales. Calidad visual y narrativa emocional para cada ocasión. Consulta nuestros paquetes.">

    <title>Portafolio</title>

    <link rel="icon" type="image/webp" href="../images/logo-camera-lens.webp">

    <link rel="stylesheet" href="../css/portafolio.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="grid-container">
        <header class="header-full">
            <div class="left">
                <img src="../images/logo-camera-lens.webp" alt="Ilustración lineal en blanco y negro de un obturador de cámara fotográfica abierto.">
            </div>

            <nav class="center">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./portfolio.html" class="active">Portafolio</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>

            <div class="right">
                    <a href="./presupuesto.html" class="btn-book">
                        <span>Book a Shot</span>
                    </a>
            </div>
        </header>

        <section class="portafolio-intro">
            <h1>Historias que no necesitan palabras.</h1>
            <p>Una selección de mis trabajos más personales, donde la luz y la espontaneidad se unen para crear recuerdos que cobran vida en cada mirada.</p>
        </section>

        <div class="filter-wrapper">

            <input type="radio" name="filtro" id="todos" checked>
            <input type="radio" name="filtro" id="bodas">
            <input type="radio" name="filtro" id="preboda">
            <input type="radio" name="filtro" id="exteriores">
            <input type="radio" name="filtro" id="detalles">

            <nav class="filter-nav">
                <label for="todos" class="filter-btn">Todos</label>
                <label for="bodas" class="filter-btn">Bodas</label>
                <label for="preboda" class="filter-btn">Preboda</label>
                <label for="exteriores" class="filter-btn">Exteriores</label>
                <label for="detalles" class="filter-btn">Detalles</label>
            </nav>

            <main class="gallery-container">

                <!-- BODAS -->

                <div class="gallery-item bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-1239.jpg" width="3600" height="2400" alt="Novios de espaldas cogidos de la mano en el altar al aire libre decorado con luces">
                </div>

                <div class="gallery-item bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-1251.jpg" width="3600" height="2400" alt="Pareja de recién casados sonriendo y caminando por el pasillo central en una boda exterior decorada con luces.">
                </div>

                <div class="gallery-item large bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-1025.jpg" width="3600" height="2400" alt="Un novio levanta a la novia en el aire durante la hora dorada, los dos se miran y sonríen.">
                </div>
                
                <div class="gallery-item large bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-593.jpg" width="3600" height="2400" alt="Ceremonia de boda al aire libre al atardecer, con los novios en el altar bajo una pérgola blanca y numerosos invitados sentados.">
                </div>

                <div class="gallery-item bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-1054.jpg" width="3600" height="2400" alt="Invitados de boda manteando y levantando al novio con alegría durante una celebración al aire libre.">
                </div>

                <div class="gallery-item bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-658.jpg" width="3600" height="2400" alt="Primer plano de una invitada sosteniendo una rosa blanca y un bolso de mano plateado sobre su vestido de color aguamarina.">
                </div>

                <div class="gallery-item bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-755.jpg" width="3600" height="2400" alt="Novios riendo en el altar bajo una pérgola blanca durante la ceremonia, mientras el novio sostiene un micrófono.">
                </div>

                <div class="gallery-item bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-974.jpg" width="3600" height="2400" alt="Los novios caminan bajo un pasillo de bengalas encendidas sostenidas por los invitados al final de la ceremonia.">
                </div>

                <div class="gallery-item large bodas">
                    <img src="../images/boda/maysa_kalleby_casamento-992.jpg" width="3600" height="2400" alt="Novios de espaldas corriendo alegremente por un camino de adoquines, con la novia levantando su ramo hacia el sol.">
                </div>

                <!-- PREBODA -->

                <div class="gallery-item vertical preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-106.jpg" width="3600" height="2400" alt="Peluquero tatuado ajustando el peinado y el velo de una novia con gafas antes de la ceremonia.">
                </div>

                <div class="gallery-item large preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-103.jpg" width="3600" height="2400" alt="Vista posterior de una novia bajando por una escalera de caracol de cristal en un centro comercial.">
                </div>

                <div class="gallery-item vertical preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-35.jpg" width="3600" height="2400" alt="Dos mujeres abrazadas de espaldas con batas de seda; una de color fucsia y otra blanca con el texto Noiva bordado.">
                </div>

                <div class="gallery-item vertical preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-50.jpg" width="3600" height="2400" alt="Una peluquera rocía spray sobre el cabello de un hombre joven sentado en un sillón de barbería.">
                </div>

                <div class="gallery-item large preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-68.jpg" width="3600" height="2400" alt="Primer plano de un hombre abotonándose el puño de una camisa blanca de vestir.">
                </div>

                <div class="gallery-item preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-64.jpg" width="3600" height="2400" alt="Un hombre con traje oscuro ayuda a otro hombre a abotonarse el chaleco de color beige sobre una camisa blanca.">
                </div>

                <div class="gallery-item preboda">
                    <img src="../images/preboda/maysa_kalleby_casamento-89.jpg" width="3600" height="2400" alt="Un hombre con barba, gafas y tirantes ajusta la chaqueta de un traje de color claro a otro hombre.">
                </div>

                <!-- EXTERIORES -->
                <div class="gallery-item vertical exteriores">
                    <img src="../images/exteriores/1083474-vista-panoramica-de-navacerrada.jpg" width="1024" height="768" alt="Paisaje de una estación de esquí nevada con montañas al fondo, remontes y un mar de nubes en el valle.">
                </div>

                <div class="gallery-item horizontal exteriores">
                    <img src="../images/exteriores/IMG_20260111_122202.jpg" width="3840" height="2160" alt="Carretera de montaña con curvas en invierno, bordeada por pinos cubiertos de escarcha y nieve bajo un cielo brumoso.">
                </div>

                <div class="gallery-item vertical exteriores">
                    <img src="../images/exteriores/El-Puerto-de-Navacerrara-1170x658.jpg" width="1170" height="658" alt="Telesillas vacíos de una estación de esquí sobrevolando una ladera nevada con pinos y niebla espesa.">
                </div>

                <div class="gallery-item large exteriores">
                    <img src="../images/exteriores/maysa_kalleby_casamento-165.jpg" width="3600" height="2400" alt="Un gran cartel publicitario con la foto de una pareja en un bosque, situado en un jardín con césped, árboles frondosos y una araucaria al fondo.">
                </div>

                <div class="gallery-item vertical exteriores">
                    <img src="../images/exteriores/maysa_kalleby_casamento-168.jpg" width="3600" height="2400" alt="Escenario de boda al aire libre con bancos blancos a los lados de un pasillo reflectante bajo hileras de luces decorativas.">
                </div>

                <div class="gallery-item vertical exteriores">
                    <img src="../images/exteriores/maysa_kalleby_casamento-169.jpg" width="3600" height="2400" alt="Vista amplia de una ceremonia de boda al aire libre con bancos blancos sobre el césped, guirnaldas de luces y grandes araucarias bajo un cielo despejado.">
                </div>

                <div class="gallery-item horizontal exteriores">
                    <img src="../images/exteriores/maysa_kalleby_casamento-170.jpg" width="3600" height="2400" alt="Espacio exterior de eventos con filas de bancos blancos sobre el césped, guirnaldas de luces y un edificio moderno al fondo bajo un cielo azul.">
                </div>                

                <!-- DETALLES -->
                <div class="gallery-item vertical detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-144.webp" width="3600" height="2400" alt="Mesa redonda decorada para un banquete con mantel beige, vajilla blanca, copas de cristal y un centro de flores blancas y azules.">
                </div>

                <div class="gallery-item horizontal detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-145.webp" width="2400" height="3600" alt="Salón de banquetes elegante con mesas redondas, sillas transparentes, candelabros dorados y una gran lámpara de cristal en el techo.">
                </div>

                <div class="gallery-item vertical detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-146.webp" width="3600" height="2400" alt="Salón de banquetes elegante con mesas redondas, sillas transparentes, candelabros dorados y una gran lámpara de cristal en el techo.">
                </div>

                <div class="gallery-item large detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-147.webp" width="3600" height="2400" alt="Mesa nupcial de cristal decorada con una larga guirnalda de flores naturales, frente a un fondo iluminado por cortinas de luces LED.">
                </div>

                <div class="gallery-item detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-148.webp" width="3600" height="2400" alt="Primer plano de una elegante cubertería sobre una mesa de cristal reflectante, con servilletas de tela blanca, platos de porcelana y copas con bordes dorados.">
                </div>

                <div class="gallery-item vertical detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-149.webp" width="3600" height="2400" alt="Fila de puestos de mesa preparados en un banquete, con sillas transparentes, platos con servilletas blancas y copas de cristal sobre una mesa reflectante.">
                </div>

                <div class="gallery-item horizontal detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-150.webp" width="3600" height="2400" alt="Mesa de banquete alargada y reflectante, con sillas transparentes de estilo clásico, vajilla elegante y un centro floral en tonos malva y blanco.">
                </div>

                <div class="gallery-item detalles">
                    <img src="../images/detalles/maysa_kalleby_casamento-151.webp" width="3600" height="2400" alt="Primer plano de un servicio de mesa elegante con bajo plato plateado, servilleta blanca con servilletero de perlas y cristalería fina sobre una superficie reflectante.">
                </div>

            </main>

        </div>

        <footer class="footer-full">
            <div class="footer-left">
                <div class="footer-info">
                    <p>&copy; 2026 Kalleby. Todos los derechos reservados</p>
                    <p class="address">Calle de Alcalá, 28014 Madrid, España</p>
                </div>

                <div class="footer-legal">
                    <a href="./politica.html" class="legal-link" target="_blank">Aviso legal</a>
                </div>
              
            </div>

            <div class="footer-right">
                <a 
                href="https://www.instagram.com/kalleby.lyra/"
                target="_blank"
                rel="noopener noreferrer"
                class="social-icon"
                aria-label="Instagram">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm3.98-10.822a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.88z"/>
                    </svg>
                </a>

                <a href="https://github.com/Ka-Lira"
                target="_blank"
                rel="noopener noreferrer"
                class="social-icon"
                aria-label="GitHub">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                    </svg>
                </a>
            </div>

        </footer>
    </div>
</body>
</html>